@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-strong {
    background-color: rgba(32, 38, 53, 0.3);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .border-glow {
    border-color: rgba(171, 96, 255, 0.5);
    box-shadow: 0 0 20px rgba(171, 96, 255, 0.3);
  }

  .glow-violet {
    box-shadow: 0 0 20px rgba(171, 96, 255, 0.5);
  }

  .glow-cyan {
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.5);
  }
}
